/* 2번 : 드롭다운 메뉴만들기 */
/* 페이지 상단에 여백 추가 */
body {
  margin-top: 50px;
}

/* nav 안의 ul 스타일 설정 */
nav ul {
  width: 100%;
  background-color: darkblue;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/* nav 안의 li 요소들을 가로로 배치*/
nav ul li {
  display: inline-block;
  /* inline 요소와 block 요소를 합친 것으로
  외부는 인라인요소처럼, 내부는 블록요소처럼 */
}

/* 드롭다운 메뉴 부모 요소 */
.dropdown {
  position: relative; /* 자식 요소의 절대 위치 기준 */
  display: inline-block;
}

/* 드롭다운 내부의 a태그 스타일 */
.dropdown a {
  color: white;
  text-decoration: none;
  padding: 12px 16px; /* 안쪽 여백 */
}

/* 드롭다운 메뉴 스타일 */
.dropdown-menu {
  color: white;
  padding: 16px;
  font-size: 16px;
}

/* #home 영역 스타일 */
#home {
  background-color: orange;
  width: 100px;
  text-align: center;
  font-weight: bold;
  float: right; /* 오른쪽 정렬 */
}

/* #home 내부의 링크 스타일 */
#home a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 16px;
}

/* 드롭다운의 숨겨진 컨텐츠(기본은 숨김) */
.dropdown-content {
  display: none; /* 기본적으로 안 보임 */
  position: absolute; /* 위치를 부모 기준으로 절대 위치 설정 */
  background-color: darkgreen;
  color: ghostwhite;
  min-width: 115px; /*너비제한*/
  top: 100%;
  left: 0;
}

/* 마우스를 올렸을 때 드롭다운 컨텐츠 표시 */
.dropdown:hover .dropdown-content {
  display: block;
}

/* 드롭다운 항목에 마우스 오버시 강조 효과 */
.dropdown-content a:hover {
  background-color: yellow;
  color: black;
}

/* 드롭다운 내부 링크 스타일 */
.dropdown-content a {
  display: block;
  padding: 12px 16px;
  text-decoration: none;
  color: white;
}

/* dropdown-menu 마우스를 올렸을 때 home이 아닌 경우 강조*/
.dropdown-menu:hover:not(#home) {
  background-color: darkorange;
  color: white;
}
